<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%- title %></title>
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="//code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
<script defer src="//code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/googlecode.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.min.css">
<link rel="stylesheet" href="/css/custom.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/addon/mode/overlay.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/mode/markdown/markdown.min.js"></script>    
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/mode/gfm/gfm.min.js"></script>    
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/addon/edit/continuelist.min.js"></script>    
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/addon/edit/matchbrackets.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><a href="/">kivantium.net</a></span>
    <nav class="mdl-navigation mdl-layout--large-screen-only header-nav">
      <a class="mdl-navigation__link" href="/about">About</a>
      <a class="mdl-navigation__link" href="/docs">Documents</a>
      <a class="mdl-navigation__link" href="http://kivantium.hateblo.jp/">Blog</a>
      <a class="mdl-navigation__link" href="https://twitter.com/kivantium">Twitter</a>
    </nav>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation header-nav">
      <a id="send" class="mdl-navigation__link" href="/<%- link %>" onclick="location.reload()">Save</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">kivantium.net</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/about">About</a>
    <a class="mdl-navigation__link" href="/docs">Documents</a>
    <a class="mdl-navigation__link" href="http://kivantium.hateblo.jp/">Blog</a>
    <a class="mdl-navigation__link" href="https://twitter.com/kivantium">Twitter</a>
    <% if(!profile_image) { %>
      <a class="mdl-navigation__link" href="/login/twitter">Login</a>
    <% } %>
  </nav>
</div>
<main class="mdl-layout__content">
<div id="in">
  <form id="form" action="/save" method="post">
    <textarea id="code"><%- main %></textarea>
  </form>
</div>
<div id="preview" class="markdown-body"></div>
</main>
</div>
<script src="/bundle.js"></script>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    mode: 'gfm',
    theme: "default",
    lineNumbers: true,
    lineWrapping: true,
    matchBrackets: true,
    extraKeys: {
        "Enter": "newlineAndIndentContinueMarkdownList"
    }
  });
  editor.setSize("100%", "100%");

  $(document).ready(function(){
    update_view();
  });

  var preview = document.getElementById("preview");
  var timeoutId;
  editor.on("change", function(cMirror) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(function() {
        cMirror.save();
        update_view();
      }, 200);
  });

  editor.on("scroll" , function(e){
      var scrollInfo = e.getScrollInfo();
      var lineNumber = e.lineAtHeight(scrollInfo.top, 'local');
      var lineHeight = e.lineAtHeight(scrollInfo.height, 'local');
      var range = e.getRange({line: 0, ch: null}, {line: lineNumber, ch: null});
      var parser = new DOMParser();
      var doc = parser.parseFromString(md_render(range), 'text/html');
      var totalLines = doc.body.querySelectorAll('p, h1, h2, h3, h4, h5, h6, li, pre, blockquote, hr, table');
      var elems = preview.querySelectorAll('p, h1, h2, h3, h4, h5, h6, li, pre, blockquote, hr, table');
      if(lineNumber > lineHeight - 30) {
          preview.scrollTop = elems[elems.length-1].offsetTop;
      } else if (elems.length > 0) {
          preview.scrollTop = elems[totalLines.length].offsetTop;
      }
  });

  $('#send').on("click", function() {
    $.ajax({
      type: 'POST',
      data: JSON.stringify({"data": $('#code').val(), "file": "<%- title %>"}),
      url: '/save',
      contentType: 'application/json',
    });
  });

  setInterval(function(){
      $.ajax({
        type: 'POST',
        data: JSON.stringify({"data": $('#code').val(), "file": "<%- title %>"}),
        url: '/save',
        contentType: 'application/json',
      });
  }, 30000);
</script>
</body>
</html>
